a {
    text-decoration: none
}

body{
    margin-top: 80px;

}

.bigIcons{
    font-size: 65px;
}

.is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}