a {
    text-decoration: none
}

body{
    margin-top: 80px;

}

.bigIcons{
    font-size: 65px;
}

.is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}

.mini{
    margin: auto;
    max-width: 150px;
    max-height: 80px;
    height: auto;
    width: auto;
}

.logo-icon{
    width: 20px;
    height: 20px;
}

